environment: pre

secretpro: acr-secret-falso
secretpre: acr-secret

ingress: 
  enabled: yes

service:
  name: py3server
  replicas: 1
  enabled: yes
  autoscaler:
    enabled: false
    min: 1
    max: 10
    targetCpuUtilization: 50
  port: 8000
  image: kubepre.azurecr.io/pyserver:2
  vars:
    - name: TEST1
      value: test1
    - name: TEST2
      value: test2
    - name: TEST3
      value: test3
  